.wrapper {
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}
/* Стилизация формы */
form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
 }
 
 /* Стилизация элементов формы */
 label {
	margin-bottom: 5px;
 }
 
 input, select {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
 }
 
 button[type="submit"] {
	padding: 10px;
 }
h1 {
	text-align: center;
} 
/* Стилизация контейнера результата */
#resultContainer {
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	background-color: #f1f1f1;
 }